

// ----- Colors -------//

$bg-dark-main : hsl(218, 28%, 13%);
$bg-dark-footer : hsl(216, 53%, 9%);
$bg-dark-testimonial : hsl(219, 30%, 18%);

$accent-primary : hsl(176, 68%, 64%);
$accent-secondary : hsl(198, 60%, 50%);

$white:hsl(0, 0%, 100%);

// ----- Fonts --------//

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


h1, h2, h3, h4, .cta, .main-nav{
    font-family: Raleway, arial, sans-serif;
    word-spacing: .1em;
    line-height: 1.5em;
    color: $white;
}

body{
    font-family: 'Open Sans';
    color: $white;
}

// ----- Custom Styles --------//

body{
    background-color: $bg-dark-main;
}

.container{
    width: 90%;
    margin: 0 auto;
}

button.cta{
    padding: 15px 30px;
    margin: 1em auto;
    font-weight: 400;
    border-radius: 50px;
    width: 70%;
    font-size: .9em;
    background: $accent-primary;
    border:none;
    background: linear-gradient(170deg, $accent-primary 0%, $accent-secondary 75%);

}

.main-nav{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0;

    li.logo{
        margin-right: auto;
        
        img.main-logo{
            margin-right:auto;
            max-width: 110px;
        }
    }

    li{
   
        a{
            text-decoration: none;
            color: $white;
            display: block;
            border: 1px solid tomato;
        }
    }

}


.hero{

    text-align: center;

    img{
        max-width: 100%;
    }
}


.sales-points{
    text-align: center;
}