@import "normalize";

*{
    box-sizing: border-box;
}

// ----- Variables -------//

$bg-dark-main : hsl(218, 28%, 13%);
$bg-dark-intro: hsl(217, 28%, 15%);
$bg-dark-footer : hsl(216, 53%, 9%);
$bg-dark-testimonial : hsl(219, 30%, 18%);
$accent-primary : hsl(176, 68%, 64%);
$accent-secondary : hsl(198, 60%, 50%);
$white:hsl(0, 0%, 100%);

$padding : 1em 2em;

// ----- Fonts  & Typography --------//

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


h1, h2, h3, h4, .cta, .main-nav, .footer-nav{
    font-family: Raleway, arial, sans-serif;
    word-spacing: .1em;
    line-height: 1.5em;
    color: $white;
}

input:focus { 
    outline: none;

  }

h2 {
    font-size: 1.3em;
}

body{
    font-family: 'Open Sans';
    color: $white;
    background-color: $bg-dark-main;

    p{
        font-size: .9em;
        letter-spacing: .1em;
        line-height: 1.6em;
    }

    a{
        font-size: .9em;
        line-height: 1.6em;
        text-decoration: none;
        color: $accent-primary;
    }
}


// ----- Toolbox Styles --------//

button.cta, .rounded{
    padding: 18px 30px;
    margin: 1em auto;
    font-weight: 400;
    border-radius: 50px;
    width: 60%;
    font-size: .9em;
    background: $accent-primary;
    border:none;
    background: linear-gradient(170deg, $accent-primary 0%, $accent-secondary 75%);
    cursor: pointer;
}

.rounded{
    background: $white;
    width: 100%;
}

.center{
    text-align: center;
}

.info-link{
    width: auto;
    padding: 10px 0;
    border-bottom: 2px solid $accent-primary;
    flex-grow: 0;
}

.feature{
    text-align: center;
    padding: $padding;
    display: flex;
    flex-direction: column;

    img{
        max-width: 90%;
        margin: 2em auto 4em auto;
    }
}

.quotes{
    background-image: url('../images/bg-quotes.png');
    background-position-x: 3em;
    background-position-y: 1.8em;
    background-repeat: no-repeat;
    padding: $padding;

    figure.quote{
        margin: 3em 40px;
        padding: 25px 15px;
        background-color: $bg-dark-testimonial;
        border-radius: 5px;
        
        blockquote{
            margin: 0;
            font-size: .7em;
            line-height: 2em;
        }

        figcaption{
            display: flex;
            margin: 1em auto;
            align-items: center; 

            img{
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-right: 8px;
            }

            div.quote-details{
                
                font-size: .6rem;
                line-height: 1rem;
                
                span.quote-name{
                    font-weight: bold;
                    font-size: .8rem;
                    display: inline;
                }
            }   
        }
    }
}


// ----- Custom Styles --------//


.container{
    width: 90%;
    margin: 0 auto;
}

.main-nav{
    background-color: $bg-dark-intro;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: $padding;

    li.logo{
        margin-right: auto;
        
        img.main-logo{
            margin-right:auto;
            max-width: 100px;
        }
    }

    li{
   
        a{
            font-size: .8em;
            letter-spacing: .1em;
            margin: auto 1em;
            text-decoration: none;
            color: $white;
            display: block;
        }
    }

}


.hero{

    background-color: $bg-dark-intro;
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: 100% auto; 
}


.sales-points{
    text-align: center;
    padding: $padding;

    .sp{
        margin: auto auto 5em auto;

        img{
            margin-bottom: 2em;
            width: 75px;
            

        }
        .img-security{
            width: 60px;
        }

    }
}

.secondary{
    text-align: left;

    img{
        text-align: center;
    }
}

.sign-up{
    background-color: $bg-dark-testimonial;
    text-align: center;
    padding: $padding;
    margin: $padding;
    border-radius: 5px;

    button.cta{
        width:100%;
    }
}

footer{

    padding: $padding;

    img.logo{
        margin-bottom: 2rem;
    }

    .contact-detail{
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        img{
            margin-right: 20px;
            max-height: 20px;
            flex-shrink: 0;
        }
    }

    .footer-nav{
        margin-top: 3rem;
        ul{
            list-style-type: none;
            padding: 0;
            font-size: 1.1rem;
            
            li{
            margin-bottom: 5px;
                a {
                    color: $white;
                }
            }
        }
    }

    .social{
        display: flex;
        justify-content: center;
        li{
            margin: 10px;
            padding:3px 9px;
            border: 1px solid white;
            border-radius: 50%;
        }
    }
}
